body {
    font-family: Arial;
    background-color: #f4f4f4;
    padding: 30px;
    color: #333;
    background-image: url('./img/aa.jpg');
    background-position: center;
    background-size: cover;
}

.app {
    max-width: 600px;
    margin: 0 auto;
    background: rgb(114,253,255);
    background: linear-gradient(0deg, rgba(114,253,255,1) 0%, rgba(255,63,141,1) 100%);
    padding: 20px 30px;
    border-radius: 10px;
}

h1 {
    text-align: center;
}

h2 {
    margin-bottom: 10px;
}

p {
    margin: 10px 0;
}

input {
    box-sizing: border-box;
}

.complete {
    background-color: #333974;
}

button {

    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    opacity: .8;
    transition: .3s;
}

.x {
    background-color: #b20f00;
}

.tarefa {
    background-color: #0094b2;
}

button:hover {
    opacity: 1.8;
}

.todo-form {
    padding-bottom: 1.8rem;
}

input, select {
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 20px;
    width: 100%;
}